.video-js-info-panel {
    background: rgba(28, 28, 28, 0.8);
    border-radius: 4px;
    color: #fff;
    left: 10px;
    position: absolute;
    top: 10px;
    z-index: 64;
    min-width: 26em;
    padding: 10px;
}

.video-js .vjs-menu-button-inline.vjs-slider-active,
.video-js .vjs-menu-button-inline:focus,
.video-js .vjs-menu-button-inline:hover,
.video-js.vjs-no-flex .vjs-menu-button-inline {
    width: 10em
}

.vjs-user-inactive .vjs-menu-content {
    display: none!important;
}

.video-js .vjs-controls-disabled .vjs-big-play-button {
    display: none!important
}

.video-js .vjs-control {
    width: 3em
}

.video-js .vjs-menu-button-inline:before {
    width: 1.5em
}

.vjs-menu-button-inline .vjs-menu {
    left: 3em
}

.vjs-paused.vjs-has-started.video-js .vjs-big-play-button,
.video-js.vjs-ended .vjs-big-play-button,
.video-js.vjs-paused .vjs-big-play-button {
    display: block
}

.video-js .vjs-load-progress div,
.vjs-seeking .vjs-big-play-button,
.vjs-waiting .vjs-big-play-button {
    display: none!important
}

.video-js .vjs-mouse-display:after,
.video-js .vjs-play-progress:after {
    padding: 0 .4em .3em
}

.video-js.vjs-ended .vjs-loading-spinner {
    display: none;
}

.video-js.vjs-ended .vjs-big-play-button {
    display: block !important;
}

.video-js *,
.video-js:after,
.video-js:before {
    box-sizing: inherit;
    font-size: inherit;
    color: inherit;
    line-height: inherit
}

.video-js.vjs-fullscreen,
.video-js.vjs-fullscreen .vjs-tech {
    width: 100%!important;
    height: 100%!important
}

.video-js {
    font-size: 14px;
    overflow: hidden
}

.video-js .vjs-control {
    color: inherit
}

.video-js .vjs-menu-button-inline:hover,
.video-js.vjs-no-flex .vjs-menu-button-inline {
    width: 8.35em
}

.vjs-mute-control.vjs-control:hover~.vjs-volume-horizontal {
    height: 3em;
    width: 6.35em!important;
}

.vjs-volume-control:hover~.vjs-volume-horizontal {
    height: 3em;
    width: 6.35em!important;
}

.vjs-volume-horizontal {
    width: 0.5em!important;
}

.vjs-volume-horizontal:hover {
    height: 3em;
    width: 6.35em!important;
}

.video-js .vjs-spacer,
.video-js .vjs-time-control {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.video-js .vjs-time-control {
    -webkit-box-flex: 0 1 auto;
    -moz-box-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: auto
}

.video-js .vjs-time-control.vjs-time-divider {
    width: 14px
}

.video-js .vjs-time-control.vjs-time-divider div {
    width: 100%;
    text-align: center
}

.video-js .vjs-time-control.vjs-current-time {
    margin-left: 0em!important;
}

.video-js .vjs-time-control .vjs-current-time-display,
.video-js .vjs-time-control .vjs-duration-display {
    width: 100%
}

.video-js .vjs-time-control .vjs-current-time-display {
    text-align: right
}

.video-js .vjs-time-control .vjs-duration-display {
    text-align: left
}

.video-js .vjs-play-progress:before,
.video-js .vjs-progress-control .vjs-play-progress:before,
.video-js .vjs-remaining-time,
.video-js .vjs-volume-level:after,
.video-js .vjs-volume-level:before,
.video-js.vjs-live .vjs-time-control.vjs-current-time,
.video-js.vjs-live .vjs-time-control.vjs-duration,
.video-js.vjs-live .vjs-time-control.vjs-time-divider,
.video-js.vjs-no-flex .vjs-time-control.vjs-remaining-time {
    display: none
}

.video-js.vjs-no-flex .vjs-time-control {
    display: table-cell;
    width: 4em
}

.video-js.vjs-live .vjs-live-control {
    margin-left: 1em
}

.video-js .vjs-big-play-button {
    top: 50%;
    left: 50%;
    margin-left: -1em;
    margin-top: -1em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border: none;
    border-radius: 50%;
    font-size: 3.5em;
    background-color: rgba(0, 0, 0, .45);
    color: #fff;
    -webkit-transition: border-color .4s, outline .4s, background-color .4s;
    -moz-transition: border-color .4s, outline .4s, background-color .4s;
    -ms-transition: border-color .4s, outline .4s, background-color .4s;
    -o-transition: border-color .4s, outline .4s, background-color .4s;
    transition: border-color .4s, outline .4s, background-color .4s
}

.vjs-big-play-button .vjs-icon-placeholder {
    font-size: 40px;
}

.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
    background-color: #111111;
    display: table;
    float: right;
    position: fixed;
    right: 10px;
    bottom: 50px;
    width: auto;
    margin-right: 0px;
    padding: 5px;
    border-top: 2px red solid!important;
    border-radius: 5px;
    min-height: 84px;
    min-width: 200px;
}

.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-item,
.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-title {
    margin: 0;
    padding: .5em;
    text-align: right!important;
}

.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-item.vjs-selected {
    background-color: #212121;
}

.video-js .vjs-big-play-button {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 2.5em;
    border-radius: 20%;
    height: 1.4em !important;
    line-height: 1.4em !important;
    margin-top: -0.7em !important
}

.video-js:hover .vjs-big-play-button,
.video-js .vjs-big-play-button:focus,
.video-js .vjs-big-play-button:active {
    background-color: #cc181e;
}

.video-js .vjs-loading-spinner {
    border-color: #cc181e
}

.video-js .vjs-control-bar2 {
    /* background-color: #000000 */
}

.video-js .vjs-control-bar {
    background: linear-gradient(transparent, #1f1f1f) !important;
    color: #ffffff;
    font-size: 12px
}

.video-js .vjs-play-progress,
.video-js .vjs-volume-level {
    background-color: #cc181e
}

.quality-button {
    bottom: -76px;
}

.vjs-resolution-button-label {
    font-size: 1.2em;
    line-height: 44px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: inherit;
}

.video-js .vjs-resolution-button .vjs-resolution-button-staticlabel:before {
    content: '\f110';
    font-size: 1.5em;
    line-height: 2em;
}

.vjs-menu-button.vjs-settings-button {
    width: 4em!important;
}

.vjs-settings-button-staticlabel:before {
    content: '\f110';
    font-size: 1.5em;
    line-height: 2em;
}

.vjs-settings-button:before {
    content: '\f110';
    font-size: 1.5em;
    line-height: 2em;
}

.vjs-play-control.vjs-control.vjs-branding-logo {
    display: -webkit-box;
    width: 5em;
}

.vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button.vjs-resolution-switcher {
    width: 5em;
}

.vjs-resolution-switcher {
    display: none;
}

.vjs-branding-logo {
    color: white;
    display: block;
    background-image: url("https://emb.d.tube/DTube_White.svg");
    font-size: 1.5em;
    line-height: 2em;
    font-weight: 600;
    background-repeat: no-repeat;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto;
    text-decoration: none;
}

.vjs-resolution-button-label {
    line-height: 44px!important;
}

.video-js .vjs-resolution-button .vjs-menu li {
    text-transform: none;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif
}

.vjs-menu li {
    list-style: none;
    margin: 0;
    padding: 0.2em 0;
    line-height: 1.4em;
    font-size: 1em!important;
    text-align: center;
    text-transform: lowercase;
}

.video-js .vjs-load-progress {
    background: rgba(255, 255, 255, 0.3);
}

.video-js .vjs-menu-button-inline.vjs-slider-active,
.video-js .vjs-menu-button-inline:focus,
.video-js .vjs-menu-button-inline:hover,
.video-js.vjs-no-flex .vjs-menu-button-inline {
    width: 10em
}

.video-js .vjs-controls-disabled .vjs-big-play-button {
    display: none!important
}

.video-js .vjs-menu-button-inline:before {
    width: 1.5em
}

.vjs-button:focus,
.vjs-menu-button:focus {
    outline: 0;
}

.vjs-menu-button-inline .vjs-menu {
    left: 3em
}

.vjs-paused.vjs-has-started.video-js .vjs-big-play-button,
.video-js.vjs-ended .vjs-big-play-button,
.video-js.vjs-paused .vjs-big-play-button {
    display: block
}

.video-js .vjs-load-progress div,
.vjs-seeking .vjs-big-play-button,
.vjs-waiting .vjs-big-play-button {
    display: none!important
}

.video-js .vjs-mouse-display:after,
.video-js .vjs-play-progress:after {
    padding: 0 .4em .3em
}

.video-js.vjs-ended .vjs-loading-spinner {
    display: none;
}

.video-js.vjs-ended .vjs-big-play-button {
    display: block !important;
}

.video-js *,
.video-js:after,
.video-js:before {
    box-sizing: inherit;
    color: inherit;
    line-height: inherit;
}

.video-js.vjs-fullscreen,
.video-js.vjs-fullscreen .vjs-tech {
    width: 100%!important;
    height: 100%!important
}

.video-js {
    font-size: 14px;
    overflow: hidden
}

.video-js .vjs-control {
    color: inherit;
    font-size: 15px
}

.video-js .vjs-menu-button-inline:hover,
.video-js.vjs-no-flex .vjs-menu-button-inline {
    width: 8.35em
}

.video-js .vjs-volume-menu-button.vjs-volume-horizontal:hover .vjs-menu .vjs-menu-content {
    height: 3em;
    width: 6.35em
}

.video-js .vjs-spacer,
.video-js .vjs-time-control {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.video-js .vjs-time-control {
    -webkit-box-flex: 0 1 auto;
    -moz-box-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: auto
}

.video-js .vjs-time-control.vjs-time-divider {
    width: 14px
}

.video-js .vjs-time-control.vjs-time-divider div {
    width: 100%;
    text-align: center
}

.video-js .vjs-progress-control {
    position: absolute;
    width: 100%;
    height: .4em;
    top: .6em;
    padding-top: 0em;
    -webkit-transition: height .15s, top .15s;
    -moz-transition: height .15s, top .15s;
    -ms-transition: height .15s, top .15s;
    -o-transition: height .15s, top .15s;
    transition: height .15s, top .15s;
}

.video-js .vjs-progress-control:hover {
    height: 1em;
    top: 0em;
    padding-left: 5px;
    padding-right: 5px;
}

.video-js .vjs-progress-control .vjs-load-progress,
.video-js .vjs-progress-control .vjs-play-progress,
.video-js .vjs-progress-control .vjs-progress-holder {
    height: 100%
}

.video-js .vjs-control-bar {
    padding-top: 15px;
    height: 5em;
    width: 100%;
    -webkit-transition: -webkit-transform 0s ease 0s;
    -moz-transition: -moz-transform 0s ease 0s;
    -ms-transition: -ms-transform 0s ease 0s;
    -o-transition: -o-transform 0s ease 0s;
    transition: transform 0s ease 0s
}

.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active .vjs-control-bar,
.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive .vjs-control-bar,
.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active .vjs-control-bar,
.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar,
.video-js.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar {
    visibility: visible;
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(4.8em);
    -moz-transform: translateY(4.8em);
    -ms-transform: translateY(4.8em);
    -o-transform: translateY(4.8em);
    transform: translateY(4.8em);
    -webkit-transition: -webkit-transform 0s ease 0s;
    -moz-transition: -moz-transform 0s ease 0s;
    -ms-transition: -ms-transform 0s ease 0s;
    -o-transition: -o-transform 0s ease 0s;
    transition: transform 0s ease 0s
}

.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active .vjs-progress-control,
.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive .vjs-progress-control,
.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active .vjs-progress-control,
.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-progress-control,
.video-js.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-progress-control {
    height: .25em;
    top: -.15em;
    pointer-events: none;
    -webkit-transition: height 0s, top 0s;
    -moz-transition: height 0s, top 0s;
    -ms-transition: height 0s, top 0s;
    -o-transition: height 0s, top 0s;
    transition: height 0s, top 0s;
    margin:0px 0px!important;
}

.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active.vjs-fullscreen .vjs-progress-control,
.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive.vjs-fullscreen .vjs-progress-control,
.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active.vjs-fullscreen .vjs-progress-control,
.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive.vjs-fullscreen .vjs-progress-control,
.video-js.vjs-has-started.vjs-playing.vjs-user-inactive.vjs-fullscreen .vjs-progress-control {
    opacity: 0;
    -webkit-transition: opacity 0s ease 0s;
    -moz-transition: opacity 0s ease 0s;
    -ms-transition: opacity 0s ease 0s;
    -o-transition: opacity 0s ease 0s;
    transition: opacity 0s ease 0s
}

.video-js.vjs-live .vjs-live-control {
    margin-left: 1em
}

.vjs-fade-out {
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s, opacity 0s;
    -moz-transition: visibility 0s, opacity 0s;
    -ms-transition: visibility 0s, opacity 0s;
    -o-transition: visibility 0s, opacity 0s;
    transition: visibility 0s, opacity 0s;
    /* Wait a moment before fading out the control bar */
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

.video-js .vjs-big-play-button {
    z-index: 99;
    bottom: 0px;
    left: 56px;
    top: auto!important;
    margin-left: -1em;
    margin-top: -1em;
    width: 84px;
    height: 84px!important;
    line-height: 2em;
    border: none;
    border-radius: 50%;
    font-size: 3.5em;
    background-color: rgba(0, 0, 0, .45);
    color: #fff;
    -webkit-transition: border-color .4s, outline .4s, background-color .4s;
    -moz-transition: border-color .4s, outline .4s, background-color .4s;
    -ms-transition: border-color .4s, outline .4s, background-color .4s;
    -o-transition: border-color .4s, outline .4s, background-color .4s;
    transition: border-color .4s, outline .4s, background-color .4s
}

.vjs-paused.vjs-has-started.video-js .vjs-big-play-button,
.video-js.vjs-ended .vjs-big-play-button {
    display: none!important;
}

.vjs-menu-button-popup .vjs-menu {
    display: none;
    position: absolute;
    bottom: 0;
    width: 10em;
    left: -3em;
    height: 0em;
    margin-bottom: 1.3em;
    border-top-color: rgb(0, 0, 0)
}

.vjs-menu-button-popup .vjs-menu .vjs-menu-content {
    position: absolute;
    width: 100%;
    bottom: 1.3em;
    max-height: 15em
}

.video-js .vjs-menu-button-inline {
    -webkit-transition: all 0.0s;
    -moz-transition: all 0.0s;
    -ms-transition: all 0.0s;
    -o-transition: all 0.0s;
    transition: all 0.0s;
    overflow: hidden
}

.video-js .vjs-time-control {
    -webkit-box-flex: none;
    -moz-box-flex: none;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    font-size: 1em;
    line-height: 3em;
    min-width: 2em;
    width: auto;
    margin-top: .38em;
    padding-left: 0em;
    padding-right: 0em;
}

.video-js .vjs-menu-button-inline:before {
    width: 2.222222222em
}

.video-js .vjs-menu-button-inline:hover,
.video-js .vjs-menu-button-inline:focus,
.video-js .vjs-menu-button-inline.vjs-slider-active,
.video-js.vjs-no-flex .vjs-menu-button-inline {
    width: 12em
}

.vjs-menu-button-inline .vjs-menu {
    opacity: 0;
    height: 100%;
    width: auto;
    position: absolute;
    left: 4em;
    top: 0;
    padding: 0;
    margin: 0;
    -webkit-transition: all 0.0s;
    -moz-transition: all 0.0s;
    -ms-transition: all 0.0s;
    -o-transition: all 0.0s;
    transition: all 0.0s
}

.vjs-menu-button-inline:hover .vjs-menu,
.vjs-menu-button-inline:focus .vjs-menu,
.vjs-menu-button-inline.vjs-slider-active .vjs-menu {
    display: block;
    opacity: 1
}

.vjs-no-flex .vjs-menu-button-inline .vjs-menu {
    display: block;
    opacity: 1;
    position: relative;
    width: auto
}

.vjs-no-flex .vjs-menu-button-inline:hover .vjs-menu,
.vjs-no-flex .vjs-menu-button-inline:focus .vjs-menu,
.vjs-no-flex .vjs-menu-button-inline.vjs-slider-active .vjs-menu {
    width: auto
}

.vjs-menu-button-inline .vjs-menu-content {
    width: auto;
    height: 100%;
    margin: 0;
    overflow: hidden
}

.video-js .vjs-big-play-button {
    background-color: rgba(255, 0, 0, 0.5);
    font-size: 4em;
    border-radius: 0%;
    line-height: 1.6em !important;
    margin-top: -0.6em !important
}

.video-js:hover .vjs-big-play-button,
.video-js .vjs-big-play-button:focus,
.video-js .vjs-big-play-button:active {
    background-color: #ff0009;
}

.video-js .vjs-loading-spinner {
    border-color: #cc181e
}

.video-js .vjs-control-bar {
    color: #ffffff;
    font-size: 12px
}

.video-js .vjs-play-progress,
.video-js .vjs-volume-level {
    background-color: #cc181e
}

.video-js .vjs-load-progress {
    background: rgba(255, 255, 255, 0.3);
}

.vjs-playback-rate .vjs-playback-rate-value {
    pointer-events: none;
    font-size: 14px;
    line-height: 2;
    text-align: center;
}

.vjs-playback-rate>.vjs-menu-button,
.vjs-playback-rate .vjs-playback-rate-value {
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
}

.vjs-menu {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.vjs-menu-content {
    overflow: inherit;
}

.vjs-menu-item {
    text-align: right!important;
}

.vjs-settings-sub-menu-value,
.vjs-settings-sub-menu-title {
    display: inline-block;
    padding: 0 4px;
}


/* .vjs-menu-button-popup > .vjs-menu {
        width: 17em;
        left: -10em;
      }
      .vjs-menu-button-popup .vjs-settings-sub-menu .vjs-menu {
        left: -10em;
      } */

.vjs-menu-content {
    bottom: -1.5em;
}

li {
    font-size: 1em;
}

.vjs-menu-item {
    text-align: center;
}

.vjs-settings-sub-menu-title {
    width: auto;
    text-transform: initial;
}

.vjs-settings-sub-menu {
    width: 200px;
    position: fixed;
}

.vjs-settings-menu.vjs-icon-cog.vjs-menu-button.vjs-menu-button-popup.vjs-button+.vjs-menu {
    width: 30%;
    /* display: inherit; */
    position: fixed;
    float: right;
    right: 0px;
    left: auto;
}

.vjs-settings-menu {
    font-size: 18px!important;
}

.vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button {
    font-size: 14px;
}

.vjs-menu-button-popup .vjs-menu .vjs-menu-content {
    background-color: #2B333F;
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    width: 100%;
    bottom: 1.3em;
    max-height: 15em;
}

.video-js .vjs-fullscreen-control {
    cursor: pointer;
    -webkit-box-flex: none;
    -moz-box-flex: none;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button {
    font-size: 14px;
}

.video-js .vjs-live-control {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -webkit-box-flex: auto;
    -moz-box-flex: auto;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    font-size: 1em;
    line-height: 3em;
    visibility: hidden;
    display: block!important;
}

.vjs-thumbnail-holder {
    position: absolute;
    left: -1000px;
}


/* the thumbnail image itself */

.vjs-thumbnail {
    opacity: 0;
    transition: opacity .2s ease;
    -webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    -mz-transition: opacity .2s ease;
}


/* fade in the thumbnail when hovering over the progress bar */


/* .fake-active is needed for Android only. It's removed on touchend/touchecancel */

.vjs-progress-control:hover .vjs-thumbnail,
.vjs-progress-control.fake-active .vjs-thumbnail,
.vjs-progress-control:active .vjs-thumbnail {
    opacity: 1;
}


/* ... but hide the thumbnail when hovering directly over it */

.vjs-progress-control:hover .vjs-thumbnail:hover,
.vjs-progress-control:active .vjs-thumbnail:active {
    opacity: 0;
}

.video-js .vjs-progress-control .vjs-mouse-display {
    display: none;
    position: absolute;
    width: 0px;
    height: 100%;
    background-color: #000;
    z-index: 1;
}

.vjs-dtube-selected {
    color: red!important;
}